<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bonk Shop </title>
    <link rel="stylesheet" href="../assets/style/error.css">
</head>
<body>
    <div class="container"> 
        <div class="error">
            <p class="pur">4</p>
            <p> 0 </p>
            <p class="pur">4</p>
        </div>
        <p> Page not found </p>
    </div>
</body>
</html>