<div class="top-menu">
    <img class="svg menu" src="../assets/img/icons/menu.svg" alt="menu">
    <img class="logo" src="../assets/img/logo/textlogo.png" alt="go to index">
    <div>
        <img class="svg" src="../assets/img/icons/favorite.svg" alt="favorites">
        <img class="svg" src="../assets/img/icons/shopping_cart.svg" alt="cart">
    </div>
</div>
