<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bonk Shop </title>
    <link rel="stylesheet" href="../assets/style/paiment.css">
    <link rel="stylesheet" href="../assets/style/header.css">
</head>
<body>
    <header>
        <%- include('./header'); %>
    </header>
    <%- include('./side'); %>
    <form class="form">
        <div class="paiment">
            <p> Confirmer le paiement </p>
            <div class="price">
                <p> Prix </p>
                <p> <%= price %>€ </p>
            </div>
            <div class="infos">
                <p class="big-title"> Infos bancaires </p>
                <% if (error == "card") { %>
                    <p style="color: red"> Données carte invalides </p>
                <% } %>
                <div class="number-cvc big-cat">
                    <div class="number cat">
                        <label for="card-number"> Numéro de carte </label>
                        <input type="text" name="nb" id="card-number">
                    </div>
    
                    <div class="cvc cat">
                        <label for="cvc"> Cvc </label>
                        <input type="text" name="cvc" id="cvc">
                    </div>
                </div>

                <div class="name-expiration big-cat">
                    <div class="name cat">
                        <label for="name"> Nom </label>
                        <input type="text" name="name" id="name">
                    </div>
    
                    <div class="expiration cat">
                        <label for="expiration"> Date d'expiration </label>
                        <input type="text" name="expiration" id="expiration">
                    </div>
                </div>

            </div>

            <div class="adress">
                <p class="big-title"> Adresse</p>
                <div class=" big-cat">
                    <div class="city cat">
                        <input type="text" name="city" id="adress">
                    </div>
                </div>
                <div class="autocontainer">
                    
                </div>
            </div>
        </div>
        <% if (error == "refused") { %>
            <p style="color: red"> Paiement refusé </p>
        <% } %>
        <button class="submit"> Payer </button>
    </div>
    <script src="../assets/script/paiment.js"></script>
</body>
</html>