<div class="side">
    <div class="side-menu">
        <div class= "categories">
            <p class="main"> Main </p>
            <li> Panier </li>
            <li> Favorites </li>
        </div>
        <div class="categories">
            <p class="main"> Categories </p>
            <li> Figurines </li>
            <li> Body Pillows </li>
            <li> Mouse Pads </li>
            <li> Swords </li>
        </div>
        <div class="categories">
            <p class="main"> Franchises </p>
            <li> One Piece </li>
            <li> Horimiya </li>
            <li> Black Clover </li>
            <li> Demon Slayer </li>
        </div>
    </div>
</div>