<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Bonk Shop </title>
    <link rel="stylesheet" href="../assets/style/item.css">
</head>
<body>
    <div class="content">
        <div class="pictures">
            <div class="carousel">
                <div class="left-arrow arrow"></div>
    
                <img src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
    
                <div class="right-arrow arrow"></div>
            </div>
            <div class="previews">
                <img src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
    
                <img src="../assets/img/images/7afkiyfds1u61.jpg">
    
                <img src="../assets/img/images/horimiya_wallpaper___zeikku_amv_by_zeikku03_deg61g0-fullview.jpg">
            </div>
        </div>
        
        <div class="specs">
            <div class="name-price">
                <p> Poster Horimiya </p>
                <div class="prices">
                    <div class="price">
                        <p class="reduction"> -30% </p>
                        <p> 12€ </p>
                    </div>
                    <p> Ancien prix : 15€ </p>
                </div>
            </div>
        
            <div class="choix">
                <input type="radio" id="taille1" name="taille" value="taille1" checked>
                <label for="taille1"> 30x40cm </label>
                <input type="radio" id="taille2" name="taille" value="taille2">
                <label for="taille2"> 40x60cm </label>
                <input type="radio" id="taille3" name="taille" value="taille3">
                <label for="taille3"> 60x80cm </label>
            </div>
        
            <div class="shop">
                <a class="panier" href="#"> Ajouter au panier </a>
                <a class="favoris" href="#"> <img src="../assets/img/icons/heart_plus.svg"> </a>
            </div>
        
            <div class="details">
                <p> Details du produit : </p>
                <div class="desc">
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
                    <p class="plus"> Voir plus </p>
                </div>
            </div>
        </div>
    </div>

    <p class="maybe"> Vous aimerez aussi : </p>
    <div class="suggestions">

        <div class="item">
            <div class="images">
                <img src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
                <img class="underlay" src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
            </div>
            <div class="infos">
                <p> truc machin bidule </p>
                <div class="price"> 
                    <p class="reduction"> 20€ </p>
                    <p> 12€ </p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="images">
                <img src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
                <img class="underlay" src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
            </div>
            <div class="infos">
                <p> truc machin bidule </p>
                <div class="price"> 
                    <p class="reduction"> 20€ </p>
                    <p> 12€ </p>
                </div>
            </div>
        </div>

        <div class="item">
            <div class="images">
                <img src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
                <img class="underlay" src="../assets/img/images/fposter,small,wall_texture,product,750x1000.jpg">
            </div>
            <div class="infos">
                <p> truc machin bidule </p>
                <div class="price"> 
                    <p class="reduction"> 20€ </p>
                    <p> 12€ </p>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/script/item.js"></script>
</body>
</html>